.testimonials .container{
    /* background-image: url(../../../../images/quote.png);
    background-repeat: no-repeat; */
    background-position: top right;
    background-size: 150px;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}
.review-style{
    box-shadow: 10px 10px 20px lightgrey;
    border-radius: 15px;
}
.reviewDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media only screen and (max-width: 600px) {
    .reviewDiv {
      grid-template-columns:repeat(1,1fr)
    }
  }